/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/
/assets/overworld/*.yaml
/assets/dungeon/*.yaml
/assets/dialogue*.txt
/assets/font*.png
/assets/generated/
/assets/generated_*.h
/assets/hud_icons.png
/assets/img/
/assets/linksprite.png
/assets/map32_to_map16.txt
/assets/music_info.yaml
/assets/old/
/assets/overworld_dump/
/assets/overworld_maps/
/assets/randomizer-masterlist.json
/assets/randomizer-spoilers/
/assets/sfx.txt
/assets/sound/
/assets/sound_*.txt
/assets/zelda3.sfc
/assets/zelda3.smc
/editing/special/
/zelda3.sfc
/zelda3.smc
/randomizer-masterlist.json
/randomizer-spoilers/
/saves/*.sav
/saves/sram.dat
/saves/sram.bak
/zelda3
__pycache__
/src/*.o
/*.exe
/*.out
/snes/*.o
/msu/
/tmp/
/zelda3_assets.dat
/assets/__pycache__/
/assets/**/*.py[cod]
/SDL2.dll
/zelda3.*.ini
/zelda3.wiki
/sprites-gfx
/glsl-shaders
/token.txt
